.App {
  text-align: center;
}

.center{
  text-align: center;
}

button{
  border: 4px solid transparent;
  background: transparent;
  border: 1px solid #5d7aab;
  color: #5d7aab;
  background: white;
  padding: .8em;
  margin-left: 5%;
  /*-webkit-transition*/
 -webkit-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

 /*-moz-transition:*/
 -moz-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

/*-o-transition:*/
-o-transition:
  width 1.5s,
  height 1.5s,
  background 2s,
  -webkit-transform 2s,
  color 2s,
  border-top-color 0.15s linear,
  border-right-color 0.15s linear 0.15s,
  border-bottom-color 0.15s linear 0.25s,
  border-left-color 0.15s linear 0.25s;

  /*transition:*/
 transition:
  width 1.5s,
  height 1.5s,
  background 2s,
  transform 2s,
  color 2s,
  border-top-color 0.15s linear,
  border-right-color 0.15s linear 0.15s,
  border-bottom-color 0.15s linear 0.25s,
  border-left-color 0.15s linear 0.25s;
}

button:hover{
  border: 1px solid #5d7aab;
  background: white;
  color: #30141E;
}

textarea{
  border: 4px solid transparent;
  border: 1px dotted #141E30;
  padding: .8em;
  height: 15vh;
}

input{
  border: 4px solid transparent;
  border: 1px dotted #141E30;
  padding: .8em;
}

.home{
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


ul li{
  list-style: none;
}
